<section class="container">
    <form class="formulario">
        <h2 class="formulario__titulo"> Novo produto </h2>
        <div class="form-field">
            <label class="form-field__label" for="name"></label>
            <input class="form-field__input" id="name" type="text" [(ngModel)]="name" name="name" placeholder="Nome">
        </div>
        <div class="form-field">
            <label class="form-field__label" for="price"></label>
            <input class="form-field__input" id="price" type="number" [(ngModel)]="price" name="price"
                placeholder="Preço">
        </div>
        <div class="botao-wrapper">
            <button class="botao" (click)="save()">Salvar</button>
        </div>
    </form>
</section>